.background-grey {
    background-color: #ECF0F5;
}

.info-box-text {
    font-weight: bold;
    font-size: 1.2em;
}

.info-box-number {
    margin-top: 4px;
    font-weight: normal;
}

.text-overflow-ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.info-box-number-extra {
    font-size: 0.7em;
}

.box.box-freifunk-default {
    border: 1px solid #dc0067 !important;
}

.box.box-solid.box-freifunk-default > .box-header {
    background: #dc0067 none repeat scroll 0 0;
    color: #FFFFFF;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #dc0067;
    border-color: #dc0067;
}

.toggle-columns {
    width: 100%;
    margin: 0 0 20px 0;
}

.text-center {
    text-align: center;
}

.icon-online,
.icon-offline {
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}

.icon-online {
    color: #5CFC00;
}

.icon-offline {
    color: #F20038;
}

.float-right {
    float: right;
}

.main-footer {
    font-size: 16px;
}

.search-text {
    color: #63002E;
}

.custom-search-container {
    float: right; 
    margin-bottom: 5px;
}

.custom-search-container > label {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.node-timestamp-info {
    text-align: center;
    font-weight: bold;
}

.container {
    width: 100% !important;
}

.center-container {
    margin: 0 auto;
    float: none !important;
}

.btn-primary {
    background-color: #82003a !important;
    border-color: #82003a !important;
}

a:hover,
a:active,
a:focus {
    color: #dc0067;
}

a {
    color: #82003a;
}

/************************************************************************************
DATATABLE BUTTONS AND SELECT
************************************************************************************/

/* überschrieben von buttons.dataTables.min.css */
a.dt-button {
    color: #FFFFFF !important;
    background-color: #c1005a !important;
    background-image: none !important;
    border: none !important;
}

/* überschrieben von buttons.dataTables.min.css */
a.dt-button:hover {
    color: #ffffff !important;
    background-color: #DC0067 !important;
    border-color: #aa004c !important;
}

.dt-buttons {
    position: relative !important;
    float: right !important;
    margin: 10px 0 !important;
}

#nodesTableStatistic.dataTable tbody tr.selected {
    background-color: #68002d !important;
}

.select-info:before {
    content: ' (';
} 

.select-info:after {
    content: ')';
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px !important;
}

/************************************************************************************
AdminLTE Top Nav Dropdown
************************************************************************************/
.skin-purple-light .main-header .navbar {
    background-color: #82003a !important;
    margin-bottom: 20px;
}

.dropdown-menu {
    background-color: #82003A !important;
    border-color: #82003A !important;
}

.dropdown-menu>li>a:hover {
    background-color: #c1005a !important;
}

.dropdown-menu>li>a {
    color: #f9f9f9 !important;
}


/************************************************************************************
Media Queries
************************************************************************************/


@media (max-width: 350px) {
    .navbar-brand {
        font-size: 16px !important;
    }
}

@media (max-width: 460px) {
    .navbar-header,
    .navbar-collapse,
    .main-footer > .container > .pull-right,
    .main-footer > .container > .pull-left 
    {
        width: 100% !important;
        float: none !important;
    }
    
    .main-footer > .container > .pull-right,
    .main-footer > .container > .pull-left 
    {
        text-align: center;
    }
    
    .navbar-custom-menu {
        display: none !important;
    }
}